
                                #academy{border-style:solid;border-width:medium;border-color:grey; height:50px;width:50px;
                                        border-radius:50%;background-color:red;margin-bottom:6px}
                                #camp{border-style:solid;border-width:medium;border-color:grey; height:50px;width:50px;background-color:yellow;margin-bottom:6px;

                                        border-radius:50%}

                                #yoo{border-style:solid;border-width:medium;border-color:grey;background-color:green ;height:50px;width:50px;
                                        border-radius:50%} 
            

